body{
  font-family: sans-serif;
  color: black;
  margin: 0 80px;
  background-color: #fffafa;
}

.small-text{
  font-size: 10px
}

h1 {
    text-align: left;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 5em;
    padding: 1em;
    line-height: 1.5;
}

h3{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  line-height: 2;
}

.intro {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    line-height: 1.5;

}

section {
  margin-top: 50px;
  margin-bottom: 100px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: left; 
  justify-content: center; 
  padding: 20px; 
  transition: opacity 0.3s ease-in-out; 
}

.break{
  width:auto;
  height: 150px;
}
.outcomeBarsAxis .domain {
  stroke: none;
}

.butterfly-y-axis .domain {
  stroke: none;
}

.raceButterflyyAxis .domain{
  stroke: none;
}
.ageButterflyyAxis .domain{
  stroke: none;
}

.butterflyxAxisLeft .domain {
  stroke: none;
}
.butterflyxAxisRight .domain {
  stroke: none;
}
.x-axis .domain{
  stroke: none;
}
.y-axis .domain{
  stroke: none;
}

.content-container {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  /* overflow-y: hidden !important; */
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}



.text-sections {
  width: 30%; 
}

.svg-container {
  position: sticky;
  top: 10vh;
  width: 70%; 
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  z-index: 10;
}

svg {
  width: 70%; 
  height: auto;
  shape-rendering: crispEdges;
}

#container svg {
  width: 100%;
  height: auto;
}

section p {
  opacity: 1; 
  margin-bottom: 20px; 
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #fffafa;
  border: 1px solid #000;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
  display: none;
  font-size: 14;
}
.count-number {
  font-weight: bold;
}
.additional-text {
  opacity: 0;
}


.no-tooltip {
  pointer-events: none; 
}

/* CSS */
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: content-box;
  width: 40%;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}
