body{
  font-family: sans-serif;
  color: black;
  margin-left: 150;
  margin-right: 150;
  background-color: #fffafa;
}
h1 {
    position: sticky;
    text-align: center;
    margin-top: 2.5em;
    font-size: 5em;
}
h2{
    text-align: center;
}
section{
    position: relative;
    margin-top: 50;
    margin-bottom: 100;
}
#first-bar-section,
#second-bar-section {
  height: 100vh;
}

#second-bar-section {
  transform: translateY(100%);
}