body{
  font-family: sans-serif;
  color: black;
  margin: 0 80px;
  background-color: #fffafa;
}

h1 {
    text-align: center;
    margin-top: 2.5em;
    font-size: 5em;
}
h2{
    text-align: center;
}
section{
    margin-top: 50;
    margin-bottom: 100;
}

.outcomeBarsAxis .domain {
  stroke: none;
}
.content-container {
  display: flex;
  justify-content: space-between;
}

.text-sections {
  width: 30%; 
}

.svg-container {
  position: sticky;
  top: 10vh;
  width: 70%; 
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  z-index: 10;
}

svg {
  width: 70%; 
  height: auto; 
}

#container svg {
  width: 100%;
  height: auto;
}

section p {
  opacity: 1; 
  transition: opacity 0.3s ease-in-out; 
}

section {
  min-height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  opacity: 0; 
  padding: 50px; 
  transition: opacity 0.3s ease-in-out; 
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 10px;
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}
